.social-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.social-contact-container {
	display: flex;
	margin: 12px 0px;
}

.social-icon-div {
	display: flex;
	padding: 6px;
	margin: 6px;
	cursor: pointer;
}

.social-icon {
	height: 40px;
}

.download {
	display: flex;
	width: max-content;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding: 8px 16px;
	background-color: aquamarine;
	border-radius: 4px;
	margin: 12px 0px;
}

.download i {
	display: flex;
	font-size: 24px;
	align-items: center;
	margin-right: 4px;
}

a {
	display: flex;
	text-decoration: none;
	color: black;
	font-size: 24px;
}

@media only screen and (max-width: 720px) {
	.social-icon {
		height: 32px;
	}

	.download i {
		font-size: 16px;
	}
	a {
		font-size: 16px;
	}
}
