.email-form {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.email-row {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.email-row input {
	border: none;
	outline: none;
	font-size: 16px;
	background: #f0f1f8;
	border-radius: 4px;
	padding: 15px;
}
.email-row textarea {
	border: none;
	outline: none;
	resize: none;
	min-height: 150px;
	font-family: inherit;
	font-size: inherit;
	background: #f0f1f8;
	border-radius: 6px;
	padding: 15px;
}
.email-row label {
	font-size: 16px;
	margin: 0px 0px 4px 4px;
}
.form-button {
	all: unset;
	width: max-content;
	padding: 8px 16px;
	background-color: aquamarine;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	font-size: 24px;
	justify-content: center;
	align-items: center;
}
.form-button i {
	display: flex;
	font-size: 20px;
	align-items: center;
	margin-right: 4px;
}
