.about {
	padding-bottom: 48px;
}

.about-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-pic {
	height: 420px;
}

.about-info {
	font-size: 24;
}

.about-name {
	font-size: 32px;
	font-weight: 700;
}

.about-title {
	height: 50px;
	overflow: hidden;
	margin: 12px 0px;
}

.about-exp {
	font-weight: 700;
}

.about-title-wrapper {
	height: 100%;
	animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
	33% {
		transform: translateY(-50px);
	}
	66% {
		transform: translateY(-100px);
	}
	100% {
		transform: translateY(-150px);
	}
}

.about-title-item {
	height: 50px;
	font-size: 30px;
	font-weight: bold;
	color: #59b256;
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 720px) {
	.about-top {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.about-info {
		font-size: 20;
	}

	.about-name {
		font-size: 26px;
	}

	.profile-pic {
		height: 280px;
	}
}
