.about {
	padding-bottom: 48px;
}

.about-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-pic {
	height: 420px;
}

.about-info {
	font-size: 24px;
}

.about-intro {
	font-size: 16px;
}

.about-wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s; /* Change to speed up or slow down */
	animation-iteration-count: 2; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}

.about-name {
	font-size: 32px;
	font-weight: 700;
}

.about-title {
	height: 50px;
	overflow: hidden;
	margin: 12px 0px;
}

.about-exp {
	font-weight: 700;
}

.about-title-wrapper {
	height: 100%;
	animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
	33% {
		transform: translateY(-50px);
	}
	66% {
		transform: translateY(-100px);
	}
	100% {
		transform: translateY(-150px);
	}
}

.about-title-item {
	height: 50px;
	width: max-content;
	font-size: 30px;
	font-weight: bold;
	color: #59b256;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 720px) {
	.about-top {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.about-info {
		font-size: 20;
	}

	.about-name {
		font-size: 26px;
	}

	.profile-pic {
		height: 280px;
	}
}
