.work-section-label {
	font-size: 32px;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: inherit;
}
.work-cta {
	position: relative;
	padding: 19px 22px;
	transition: all 0.2s ease;
	margin-bottom: 20px;
}
.work-cta:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 28px;
	background: rgba(127, 255, 211, 0.4);
	width: 56px;
	height: 56px;
	transition: all 0.3s ease;
}
.work-cta span {
	position: relative;
	font-size: 16px;
	font-weight: 600;
	vertical-align: middle;
}
.work-cta:hover:before {
	width: 100%;
	background: aquamarine;
}
.work-cta:active {
	transform: scale(0.96);
}
.work-container {
	display: flex;
}
.work-company-button {
	display: flex;
	width: max-content;
}
.right {
	padding-left: 20px;
}
.work-company-info {
	margin-top: 19px;
}
.work-details {
	display: flex;
	flex-direction: column;
}
ul,
li {
	margin: 2px;
	padding: 0px 12px;
	color: black;
}
.company-name {
	font-weight: 600;
	color: #59b256;
}
.work-info-date {
	font-style: italic;
}

@media only screen and (max-width: 720px) {
	.work-container {
		flex-direction: column;
	}
	.work-company-container {
		display: flex;
		overflow-x: auto;
	}
	::-webkit-scrollbar {
		width: 0; /* Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
	.work-cta {
		width: max-content;
		margin-bottom: 0px;
		margin-right: 10px;
	}
	.right {
		padding-left: 0px;
	}
}
