.work {
	margin-bottom: 48px;
}
.work-section-label {
	font-size: 32px;
	font-weight: 700;
}
.work-cta {
	position: relative;
	padding: 19px 22px;
	transition: all 0.2s ease;
	cursor: pointer;
}
.work-cta:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 28px;
	background: rgba(127, 255, 211, 0.3);
	width: 56px;
	height: 56px;
	transition: all 0.3s ease;
}
.work-cta span {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	vertical-align: middle;
}
.work-cta:hover:before {
	width: 100%;
	background: aquamarine;
}
.work-cta:active {
	transform: scale(0.96);
}
.work-container {
	display: flex;
}
.work-company-button {
	display: flex;
	width: max-content;
	margin-bottom: 20px;
	margin-right: 20px;
}
.work-company-button:last-child {
	margin-bottom: 0px;
}
@media only screen and (max-width: 720px) {
	.work-container {
		flex-direction: column;
	}
	.work-company-container {
		display: flex;
		overflow-x: auto;
		scrollbar-width: 0;
	}
	::-webkit-scrollbar {
		display: none;
	}
	.work-cta {
		width: max-content;
		margin-bottom: 0px;
		margin-right: 10px;
	}
}
