.work {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.work-section-label {
	font-size: 32px;
	font-weight: 700;
}

.work-list {
}

/* new css */
a {
	text-decoration: none;
	color: inherit;
}
.cta {
	position: relative;
	padding: 19px 22px;
	transition: all 0.2s ease;
	margin-bottom: 20px;
}
.cta:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 28px;
	background: rgba(127, 255, 211, 0.4);
	width: 56px;
	height: 56px;
	transition: all 0.3s ease;
}
.cta span {
	position: relative;
	font-size: 16px;
	vertical-align: middle;
}
.cta:hover:before {
	width: 100%;
	background: aquamarine;
}
.cta:active {
	transform: scale(0.96);
}
.div-main {
	display: flex;
}
.item-left {
	display: flex;
	width: max-content;
}
.right {
	display: flex;
	padding-left: 20px;
}
.info {
	margin-top: 19px;
}
.list {
	display: flex;
	flex-direction: column;
}
.div-details {
	display: flex;
	flex-direction: column;
}
ul,
li {
	margin: 2px;
	padding: 0px 12px;
	color: black;
}

@media only screen and (max-width: 720px) {
	.div-main {
		flex-direction: column;
	}
}
